In [1]:
def swap_string(input_string):
    parts = input_string.split()
    return f"{parts[1]} {parts[0]} {parts[2].lower()}"

input_string = "Ravi Kumar Patel"
output = swap_string(input_string)
print(output)

Kumar Ravi patel

In [2]:
def find_maximum(numbers):
    max_num = numbers[0]
    for num in numbers:
        if num > max_num:
            max_num = num
    return max_num

numbers = [87, 43, 76, 1, 99, 23, 8]
max_number = find_maximum(numbers)
print(max_number)

99

In [3]:
def character_occurrence(s):
    occurrence = {}
    for char in s:
        if char.isalpha():  # Count only alphabetic characters
            occurrence[char] = occurrence.get(char, 0) + 1
    return occurrence

s1 = "google"
output = character_occurrence(s1)
print(output)

{'g': 2, 'o': 2, 'l': 1, 'e': 1}

In [4]:
divisible_by_7 = [num for num in range(1, 1001) if num % 7 == 0]
print(divisible_by_7)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98, 105, 112, 119, 126, 133, 140, 147, 154, 161, 168, 175, 182, 189, 196, 203, 210, 217, 224, 231, 238, 245, 252, 259, 266, 273, 280, 287, 294, 301, 308, 315, 322, 329, 336, 343, 350, 357, 364, 371, 378, 385, 392, 399, 406, 413, 420, 427, 434, 441, 448, 455, 462, 469, 476, 483, 490, 497, 504, 511, 518, 525, 532, 539, 546, 553, 560, 567, 574, 581, 588, 595, 602, 609, 616, 623, 630, 637, 644, 651, 658, 665, 672, 679, 686, 693, 700, 707, 714, 721, 728, 735, 742, 749, 756, 763, 770, 777, 784, 791, 798, 805, 812, 819, 826, 833, 840, 847, 854, 861, 868, 875, 882, 889, 896, 903, 910, 917, 924, 931, 938, 945, 952, 959, 966, 973, 980, 987, 994]

In [5]:
input_list = [75, 8, 94, 2, 23, 29, 100]
output = ['even' if num % 2 == 0 else 'odd' for num in input_list]
print(output)

['odd', 'even', 'even', 'even', 'odd', 'odd', 'even']

In [6]:
import re

def extract_numbers(input_string):
    return [int(num) for num in re.findall(r'\d+', input_string)]

input_string = 'hello 1 hi 9 . How are 10'
output = extract_numbers(input_string)
print(output)

[1, 9, 10]

In [7]:
import re

def is_valid_email(email):
    pattern = r'^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$'
    return "correct" if re.match(pattern, email) else "incorrect"

email = "xyz@gmail.com"
output = is_valid_email(email)
print(output)

correct

In [8]:
def remove_whitespace(input_string):
    return input_string.replace(" ", "")

input_string = "Hello World! How are you?"
output = remove_whitespace(input_string)
print(output)

HelloWorld!Howareyou?

In [9]:
sum_of_numbers = sum([num for num in range(1, 51)])
print(sum_of_numbers)

1275

In [10]:
def is_alphanumeric(s):
    return s.isalnum()

input_string = "abc123"
output = is_alphanumeric(input_string)
print(output)

True